################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/DataModeling/10000recipeData
/.vs
/DataModeling/.vs/DataModeling/FileContentIndex
/DataModeling/.vs/DataModeling/v17
/DataModeling/.vs
/DataModeling/__pycache__
/DataModeling/ner_model
/DataModeling/hanspell
